li.products {
    margin-top: 20px;
}

li:first-child {
    margin-top: 0;
    ;
}

.heading {
    margin-top: 100px;
    font-family: Gabriola;
    font-size: 50px;
}

ul.priceList {
    margin-top: 50px;
    margin-bottom: 60px;
    text-align: center;
    z-index: 1;
}

.Logo {
    z-index: 0;
    position: absolute;
    text-align: center;
}