.main-footer {
    color: snow;
    background-color: #5F9EA0;
    padding-top: 3em;
    padding-bottom: 2em;
    position: relative;
    bottom: 0;
    width: 100%;
    font-weight: 500;
}

.insta-image {
    text-align: center;
    padding-top: 15px;
}

ul.list-unstyled {
    text-align: left;
}