.main-footer {
    color: snow;
    background-color: #5F9EA0;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;
    font-weight: 500;
}

ul.list-unstyled {
    text-align: left;
}