.title {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
    text-align: center;
    font-size: 70px;


}

nav {
    font-family: Gabriola;
    color: snow;
    background-color: #5F9EA0;
    display: flex;
    justify-content: space-around;
    min-height: 10vh;
}

ul {

    list-style-type: none;
    margin-right: 50px;
    text-align: right;
    text-decoration: black;
}

nav.sub-heading {
    font-size: medium;
}

.nav-list {
    padding-top: 30px;
    font-size: 30px;
    color: snow;
    list-style: none;
    text-align: center;
}

.nav-list:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: snow;
}